@{
    ViewData["Title"] = "Home Page";
    Layout = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome Bootcamp Techno Batch 11 </h1>
    <p>Ini merupakan Project .Net Sederhana</a>.</p>
</div>
