@{
    ViewData["Title"] = "Master Data";
    Layout = "Login";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped" id="userTable">
    <thead>
        <trt>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Balance</th>

        </trt>
    </thead>
    <tbody>
    </tbody>

</table>


<script src="~/js/mstuser.js"></script>
